# RStudio project files
*.Rproj
*.Rprofile
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rbuildignore
*.Renviron
Curso_disennos_experimentales.Rproj
*.Rproj
credentials.sqlite

# File credentials
# Note: This file is not tracked by git, but it is included here for reference.
/.Rproj.user/
/renv/
/.Renviron/
/rsconnect/
/www/images/sesiones/Diseños_estadisticos_V3/original/
/scripts
/outputs
/listas_usuarios
/rsconnect
