# RStudio files
/.Rproj.user/
.Rhistory/
.RData/
.Ruserdata/
.Rprofile/

# Archive files rsconnect
/rsconnect/

# RStudio project files
*.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rprofile

# File credentials
# Note: This file is not tracked by git, but it is included here for reference.
credentials.sqlite

