# RStudio project files
*.Rproj
*.Rprofile
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rbuildignore
*.Renviron
Curso_disennos_experimentales.Rproj
intermedio.R
*.Rproj
credentials.sqlite

# File credentials
# Note: This file is not tracked by git, but it is included here for reference.
/.Rproj.user/
/renv/
intermedio.R
/.Renviron/
/rsconnect/
/scripts/
/rsconnect
